.formulario-container {
    display:flexbox;
    justify-content: center;
    margin: 5vh 30vh;

}
.formulario-container .formulario {
    max-width: 100%;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 36px 64px;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}